body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background: #f2f2f2
  }
  
.input1 {
display: inline;   
background-color: rgb(0, 188, 212); 
border: 0;
border-radius: 10px;
cursor: pointer;
font-size: 10px;
}

.divide {

    float: right;
}


.Frominput {
    width: 200px;
}

.Close {
    cursor: pointer;
}

/* .container-fluid {
    margin-right: 500px;
} */

.filterStyles{

    width: 280px;
    height: 300px;
    overflow-y: scroll;
}