body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.input1 {
display: inline;   
background-color: rgb(0, 188, 212); 
border: 0;
border-radius: 10px;
cursor: pointer;
font-size: 10px;
}

.divide {

    float: right;
}


.Frominput {
    width: 200px;
}

.Close {
    cursor: pointer;
}